:root {
    --main-bg-color: #1d366f;
    --secondary-bg-color: #1A6C7D;
    --primary-font-color: #FFFFFF;
    --secondary-font-color: #08C076;
    --accent-color: #BD880B;

    --body-margin: 10px;
    --navbar-height: 115px;

    --max-main-width: 1250px;

    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    color: var(--primary-font-color);
    background-color: var(--main-bg-color);
}

b {
    color: var(--secondary-font-color);
}

body {
    margin: 0;
    padding: var(--body-margin);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: var(--main-bg-color);
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo .line {
    width: 80%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    margin-top: -2px;
}

.logo svg {
    filter: invert(60%) sepia(78%) saturate(2614%) hue-rotate(114deg) brightness(93%) contrast(94%);
}

nav {
    position: fixed;
    transition: top 0.3s;
    top: calc(2 * var(--body-margin));
    z-index: 10;
    right: calc(4 * var(--body-margin));

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ol {
    background-color: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav>ol>li {
    background-color: inherit;
    box-sizing: content-box;
    counter-increment: item;
    margin: 5px 12.5px;
}

nav>ol>li:not(:last-of-type)::before {
    content: "0"counter(item) ".";
    margin-right: 5px;
    color: var(--secondary-font-color);
    text-align: right;
}

nav>ol>li>a {
    text-decoration: none;
    color: inherit;
}

nav>ol>li>a:hover {
    color: var(--secondary-font-color);
}

nav>ol>li:last-of-type>a {
    text-decoration: none;
    color: inherit;
    border: 2px solid var(--primary-font-color);
    padding: 16px;
    border-radius: 5px;
    margin-left: 16px;
}

nav>ol>li:last-of-type>a:last-of-type:hover {
    background-color: var(--accent-color);
}

nav>svg {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

.sidebar {
    z-index: 11;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--secondary-bg-color);
    color: var(--primary-font-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar>svg {
    position: absolute;
    top: 52px;
    right: 40px;
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

.sidebar>ol {
    margin-top: 60px;
    list-style: none;
}

.sidebar>ol>li:not(:last-of-type) {
    font-size: large;
    counter-increment: item;
    margin: 15px 0;
    list-style: none;
}

.sidebar>ol li:not(:last-of-type)::before {
    content: "0"counter(item) ".";
    margin-right: 5px;
    color: var(--secondary-font-color);
    text-align: right;
}

.sidebar>ol li:not(:last-of-type):hover {
    color: var(--secondary-font-color);
}

.sidebar>ol>li:last-of-type>a {
    text-decoration: none;
    color: inherit;
    border: 2px solid var(--primary-font-color);
    background-color: var(--secondary-bg-color);
    padding: 16px;
    border-radius: 5px;
    position: relative;
    top: 32px;
    margin: 32px;
}

.sidebar>ol>li:last-of-type>a:hover {
    background-color: var(--accent-color);
}

.sidebar a {
    text-decoration: none;
    color: inherit;
}

.sidebar a:hover {
    text-decoration: none;
    color: inherit;
}

main {
    margin: 0 90px;
    max-width: var(--max-main-width);
    background-color: var(--main-bg-color);
    padding-top: calc(var(--navbar-height) + var(--body-margin));
}

main > section {
    margin-bottom: 35%;
}

main > section > h1 {
    color: var(--accent-color);
}

main section:not(:nth-of-type(1)) {
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

main>section h3 {
    display: inline-block;
}

main>section h3:first-of-type {
    display: inline-block;
    color: var(--secondary-font-color);
    margin-right: 10px;
}

main h1 {
    margin: 0;
    font-size: clamp(40px, 8vw, 80px);
}

main h2 {
    margin: 0;
    font-size: clamp(20px, 9vw, 40px);
    font-style: normal;
}

main p {
    max-width: 33em;
    text-align: justify;
}

main a {
    text-decoration: none;
    color: var(--secondary-font-color);
}

main a:hover {
    color: var(--accent-color);
}

main .section-content {
    display: flex;
}

main .section-content ul {
    columns: 2;
    column-gap: 32px;
    padding: 16px;
    list-style: none;
}

main .section-content ul li::before {
    content: "\2022";
    color: var(--accent-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

main .section-content .image-wrapper {
    box-sizing: content-box;
    padding: 0 50px;
    margin-top: 110px;
    border: 4px solid var(--secondary-font-color);
    align-self: center;
}

main .section-content .image-wrapper>div {
    position: relative;
    height: 196px;
    top: -50px;
    margin: 0;
    background-color: var(--secondary-bg-color);
    width: fit-content;
}

main .section-content .image-wrapper>div:hover {
    top: -40px;
}

main .section-content img {
    opacity: 0.3;
    transition: opacity .25s linear;
    will-change: opacity;
}

main .section-content img:hover {
    opacity: 1;
    transition: opacity .25s linear;
    will-change: opacity;
}

.section-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-experience>div:first-of-type {
    margin-left: -200px;
}

.contact-section {
    display: flex;
    justify-content: end;
}

.contact-section>div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-link {
    border: 2px solid var(--primary-font-color);
    border-radius: 5px;
    padding: 16px;
    margin-top: 32px;
    color: unset;
}

.contact-link:hover {
    color: unset;
    background-color: var(--accent-color);
}

.build-by {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8px;

}

.build-by>p {
    padding: 4px;
    margin: 0;
    font-size: small;
}

.scroll-line {
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 30%;
    height: 150px;
    border-left: 1px solid var(--accent-color);
    transition: opacity 1s;
}

.scroll-line span {
    position: relative;
    top: -10px;
    left: 20px;
    color: var(--accent-color);
}

/* TABLIST WORK */
.tab-contianer {
    max-width: 700px;
    display: flex;
}

.tab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.tab button {
    background-color: var(--main-bg-color);
    color: var(--primary-font-color);

    border: none;
    outline: none;
    cursor: pointer;
    padding: 40px 16px;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

    border-left: 3px solid var(--secondary-bg-color);
}

.tab button:hover {
    background-color: var(--secondary-bg-color);
}

.tab button.active {
    border-left: 3px solid var(--accent-color);
}

.tabcontent-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.tabcontent {
    grid-area: 1 / 1;
    opacity: 0;
    transition: opacity 0.5s linear;
    padding: 0 12px;
    border-top: none;
    margin-left: 16px;

    border-top: 2px solid var(--secondary-bg-color);
}

.tabcontent ul {
    padding: 16px;
    list-style: none;
}

.tabcontent ul li {
    margin-bottom: 12px;
    list-style: none;
}

.tabcontent ul li::before {
    content: "\2022";
    color: var(--accent-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* SKILLS */
.skills {
    position: relative;
    padding: 32px;
    border: 4px solid var(--secondary-font-color);
    width: 100%;
    right: 26%;
}

.skill-container {
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: var(--main-bg-color); 
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.skill-container > div {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    justify-content: flex-end;
}

.skill-container > span {
    color: var(--secondary-font-color);
}


.skill-name {
    width: 20%;
    background-color: var(--secondary-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-bar {
    background-color: var(--secondary-bg-color);
    height: 24px;
    color: var(--secondary-bg-color);
    transition: width 2s;
    transition-delay: 1s;
    width: 0;
}

.skill-bar > span {
    background-color: var(--secondary-font-color);    
}

/* EMAIL ADDRESS */
.email-me {
    width: 40px;
    position: fixed;
    bottom: 0;
    left: auto;
    right: 40px;
    z-index: 12;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email-me>a {
    text-decoration: none;
    color: var(--secondary-font-color);
    font-weight: bold;
    margin: 10px;
}

.email-me>a:hover {
    color: var(--secondary-font-color);
}

.email-me::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--secondary-font-color);
}


/* SOCIALS */
.connect-with-me {
    width: 40px;
    position: fixed;
    bottom: 0;
    right: auto;
    left: 50px;
    bottom: 30px;
    z-index: 10;
    width: clamp(25px, 8vw, 50px);
    height: clamp(25px, 8vw, 50px);
    color: var(--accent-color);
    cursor: pointer;
}

.socials-icon-container {
    position: fixed;
    bottom: 70px;
    left: 100px;
    width: 160px;
    opacity: 0;

    pointer-events: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid var(--accent-color);
    border-radius: 5px;

    transition: all 1s;
    transition-delay: 0s;
}

.socials-icon-container svg {
    width: 30px;
    height: 30px;
    margin: 10px;
    color: var(--accent-color);
}

.socials-icon-container svg:hover {
    transform: translateY(-3px);
}

/* COMPASS */
.compass {
    position: relative;
    left: 50%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--secondary-bg-color);
    border: 3px solid var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.compass>div:first-of-type {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: 3px dotted var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.compass .needle {
    position: absolute;
    width: 100px;
    height: 160px;
    background: linear-gradient(90deg, var(--main-bg-color) 50%, var(--secondary-bg-color) 50%);
    clip-path: polygon(30% 100%, 50% 0%, 70% 100%);
}

.compass .needle-north {
    transform: translateY(-80px);
}

.compass .needle-east {
    transform: rotate(90deg) translateY(-80px);
}

.compass .needle-south {
    transform: rotate(180deg) translateY(-80px);
}

.compass .needle-west {
    transform: rotate(270deg) translateY(-80px);
}

.compass .needle-north-east {
    width: 60px;
    height: 140px;
    transform: rotate(45deg) translateY(-50px);
}

.compass .needle-north-west {
    width: 60px;
    height: 140px;
    transform: rotate(-45deg) translateY(-50px);
}

.compass .needle-south-west {
    width: 60px;
    height: 140px;
    transform: rotate(225deg) translateY(-50px);
}

.compass .needle-south-east {
    width: 60px;
    height: 140px;
    transform: rotate(135deg) translateY(-50px);
}

.compass .compass-needle-north {
    position: absolute;
    width: 60px;
    height: 140px;
    background: rgb(186, 180, 179);
    background: linear-gradient(90deg, var(--accent-color) 50%, var(--primary-font-color) 50%);
    clip-path: polygon(30% 100%, 50% 0%, 70% 100%);
    transform: rotate(0rad) translateY(-70px);
}

.compass .compass-needle-south {
    position: absolute;
    width: 60px;
    height: 140px;
    background: linear-gradient(90deg, black 50%, gray 50%);
    clip-path: polygon(30% 100%, 50% 0%, 70% 100%);
    transform: rotate(3.14159rad) translateY(-70px);
}

.compass .compass-pin {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--accent-color);
    border: 3px solid black;
}

.compass .letter-north {
    position: absolute;
    top: -50px;
    font-size: 25px;
    transition: font-size 1.5s cubic-bezier(0,.97,.5,1);
    border-radius: 50%;
}
.compass .letter-east {
    position: absolute;
    right: -50px;
    font-size: 25px;
    transition: font-size 1.5s cubic-bezier(0,.97,.5,1);
}
.compass .letter-south {
    position: absolute;
    bottom: -50px;
    font-size: 25px;
    transition: font-size 1.5s cubic-bezier(0,.97,.5,1);
}
.compass .letter-west {
    position: absolute;
    left: -50px;
    font-size: 25px;
    transition: font-size 1.5s cubic-bezier(0,.97,.5,1);
}


/* RESPONSIVE */
@media only screen and (max-width: 790px) {
    nav>svg#hamburger {
        display: block;
    }

    nav>ol {
        display: none;
    }

    .compass {
        display: none !important;
    }

    main {
        max-width: 100%!important;
        padding: 8px;
    }

    main p {
        max-width: 100%;
    }

    .tab-contianer {
        flex-direction: column;
    }
    
    .email-me {
        display: none!important;
    }
}

@media only screen and (max-width: 1200px) {
    .section-content {
        flex-direction: column;
    }

    .skills {
        width: 100%!important;
        right: 0!important;
    }
}

@media only screen and (max-height: 440px) and (max-width: 790px) {
    .email-me {
        display: none !important;
    }
}


@media only screen and (max-height: 1100px) {
    main>section {
        min-height: 90vh !important;
    }
}